.App {
  text-align: center;
  /* background: url('/background.jpg') center no-repeat;
  background-size: cover;
  height:100vh; */
}

.the-font {
  font-size: 24px;
}

.container {
  display: block;
}

